<p id="notice" class="alert alert-success">
  <%= notice %>
</p>
<p>
<h2 class="image">image</h2>
  <% if @note.image? %>
    <div class="thumbnail">
      <%= image_tag @note.image.url,class: "profile" %>
    </div><div class="thumbnail">
      <%= image_tag @note.image2.url,class: "profile" %>
    </div>
  <% end %>
</p>
<h2 class="title">タイトル</h2>
<p class="con"><%= @note.title %></p>
<h2 class="title">内容</h2>
<div class="con"><%= @note.content %>
</div>
<% if current_product?(@note.product) %>
<%= link_to "削除", note_path(@note.id), method: "delete", class: "btn destroy-btn", "data-confirm" => "本当に削除しますか？" %>
<%end%>
<script class="vote">
//変数初期化
var goods = 0;
function good()
{
var googids = document.getElementById("goodid");
goods++;
googids.value = "vote" + goods;
}
</script>
<input id="goodid" type="button" name="good" value="いいね" onmousedown="good()">
<script class="vote1">
//変数初期化
var votes = 0;
function vote()
{
var googids = document.getElementById("voteid");
votes++;
googids.value = "vote" + votes;
}

</script>
<input id="voteid" type="button" name="vote" value="いいね" onmousedown="vote()">